<!--
<h2 class="govuk-heading-s">Most viewed</h2>

<div class="govuk-list list-of-curated-links no-marg">
  <ul>
    <li><a href="https://www.gov.uk/travel-abroad">Travel abroad: step-by-step</a></li>
    <li><a href="https://www.gov.uk/guidance/living-in-europe">Living and working in the EU</a></li>
    <li><a href="https://www.gov.uk/staying-uk-eu-citizen">Staying in the UK if you're an EU citizen</a></li>
  </ul>
</div>
-->

<div class="gem-c-accordion govuk-!-margin-bottom-6" id="default-id-8d0be4ef" data-module="gem-accordion" data-anchor-navigation="false">
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-1" class="gem-c-accordion__section-button">
          Travel to the EU
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-1" class="gem-c-accordion__section-content" aria-label="Staying in the UK as an EU citizen">
      <p class="govuk-body">
        <!--
        <div class="primary-list-action">
          <div class="jarrow"></div>
          <h2 class="govuk-heading-s"><a href="#">This is the special link I want to call out</a></h2>
          <div class="hacky-spacer"><p>Longer bit of text</p></div>
          </div>
          -->

                <ul class="govuk-list">
                  <li><a href="https://www.gov.uk/foreign-travel-advice">Foreign travel advice</a></li>
                  <li><a href="https://www.gov.uk/visit-eu-switzerland-norway-iceland-liechtenstein">Visiting the EU, Switzerland, Norway, Iceland or Liechtenstein</a></li>
                  <li><a href="https://www.gov.uk/government/publications/common-travel-area-guidance">Common Travel Area: rights of UK and Irish citizens</a></li>
                  <li><a href="https://www.gov.uk/taking-your-pet-abroad/travelling-to-an-eu-country-or-northern-ireland">Taking your pet dog, cat or ferret abroad</a></li>
                  <li><a href="https://www.gov.uk/guidance/foreign-travel-insurance">Foreign travel insurance</a></li>
                  <li><a href="https://www.gov.uk/guidance/driving-in-the-eu">Driving in the EU</a></li>
                  <li><a href="https://www.gov.uk/guidance/uk-residents-visiting-the-eueea-and-switzerland-healthcare">Healthcare for UK nationals visiting the EU</a></li>
                  <li><a href="https://www.gov.uk/guidance/passport-rules-for-travel-to-europe">Passport rules for travel to Europe</a></li>
                  <li><a href="https://www.nhs.uk/using-the-nhs/healthcare-abroad/apply-for-a-free-uk-global-health-insurance-card-ghic/">Apply for a free UK Global Health Insurance Card (GHIC)</a></li>
                  </ul>
    </div>

  </section>
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-2" class="gem-c-accordion__section-button">
          Live, work or study in the EU
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-2" class="gem-c-accordion__section-content" aria-label="Writing well for specialists">
      <ul class="govuk-list">
        <li><a href="https://www.gov.uk/uk-nationals-living-eu">UK nationals living in the EU</a></li>
        <li><a href="https://www.gov.uk/guidance/driving-in-the-eu-uk-licence-holders-living-in-the-eu">Driving in the EU: UK licence holders living in the EU</a></li>
        <li><a href="https://www.gov.uk/guidance/living-in-europe">Living in Europe</a></li>
        <li><a href="https://www.gov.uk/guidance/national-insurance-for-workers-from-the-uk-working-in-the-eea-or-switzerland">National Insurance for workers from the UK working in the EEA or Switzerland</a></li>
        <li><a href="https://www.gov.uk/working-abroad">Work in an EU country</a></li>
        <li><a href="https://www.gov.uk/government/collections/healthcare-in-the-eu-norway-iceland-liechtenstein-and-switzerland">Healthcare in the EU, Norway, Iceland, Liechtenstein and Switzerland</a></li>
        <li><a href="https://www.gov.uk/guidance/study-in-the-european-union">Study in the EU</a></li>
        <ul>
    </div>
  </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-3" class="gem-c-accordion__section-button">
          Living in the UK as an EU citizen
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-3" class="gem-c-accordion__section-content" aria-label="Know your audience">
        <ul class="govuk-list">
          <li><a href="https://www.gov.uk/settled-status-eu-citizens-families/applying-for-settled-status">Apply to the EU Settlement Scheme (settled and pre-settled status)</a></li>
          <li><a href="https://www.gov.uk/settled-status-eu-citizens-families/what-settled-and-presettled-status-means">What settled status means</a></li>
          <li><a href="https://www.gov.uk/staying-uk-eu-citizen">Continue to live in the UK if you're an EU, EEA or Swiss citizen</a></li>
          <li><a href="https://www.gov.uk/family-permit">Apply for a permit to join your EU or EEA family member in the UK</a></li>
          <li><a href="https://www.gov.uk/guidance/using-the-nhs-when-you-return-to-live-in-the-uk">Using the NHS when you return to live in the UK</a></li>
          <li><a href="https://www.gov.uk/guidance/healthcare-for-eu-and-efta-nationals-living-in-the-uk">Healthcare for EU citizens living in or moving to the UK</a></li>
          <ul>
      </div>
    </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-4" class="gem-c-accordion__section-button">
Visit, work or study in the UK as an EU citizen
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-4" class="gem-c-accordion__section-content" aria-label="How people read">
        <ul class="govuk-list">
          <li><a href="https://www.gov.uk/guidance/visiting-the-uk-as-an-eu-eea-or-swiss-citizen">Visiting the UK as an EU, EEA or Swiss citizen</a></li>
          <li><a href="https://www.gov.uk/guidance/studying-in-the-uk-guidance-for-eu-students">Studying in the UK: guidance for EU students</a></li>
          <li><a href="https://www.gov.uk/guidance/social-security-contributions-for-workers-coming-to-the-uk-from-the-eea-or-switzerland">Social security contributions for workers coming to the UK from the EEA or Switzerland</a></li>
          <li><a href="https://www.gov.uk/guidance/get-your-eu-professional-qualification-recognised-in-the-uk">Get your EU professional qualification recognised in the UK</a></li>
          </ul>
      </div>
    </section>
  </div>
