
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="blue-banner govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        Coronavirus landing page </br>
        prototypes</h1>
        </div>

        <ul class="govuk-list govuk-list--bullet">
          <li>Latest: <a href="landing_page_topics">v1 topics (2 Sept 2021)</a>, <a href="landing_page_topics_header">v2 topics in header (2 Sept 2021)</a>, <a href="landing_page_topics_revision">v3 minimum viable updating</a></li>
          <li><a href="landing_stats_2">Coronavirus landing (19 Aug 2021)</a></li>
          <li><a href="landing_travel_callout">Coronavirus landing – travel callout</a></li>
          <li><a href="landing_local">Coronavirus landing – local cases lookup</a></li>
        </div>
        <img src="public/images/landing_sketch_1.png" width="50%">



    </div>




  </div>

{% endblock %}
