
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="blue-banner govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        Coronavirus landing page </br>
        prototypes</h1>
        </div>

        <img src="public/images/landing_sketch_1.png" width="50%">


        <ul class="govuk-list govuk-list--bullet">
          <li><a href="landing_1">Coronavirus landing – 1</a></li>
          <li><a href="landing_travel_callout">Coronavirus landing – travel callout</a></li>
          <li><a href="landing_local">Coronavirus landing – local cases lookup</a></li>

        </div>



    </div>
  </div>

{% endblock %}
