
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="blue-banner govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        Coronavirus landing page </br>
        prototypes</h1>
        </div>


        <h2 class="govuk-heading-l">
          Latest</h2>


        <ul class="govuk-list govuk-list--bullet">
          <li><a href="landing_page_layout_tabs_neue">11 Jan 2022: Tabs that are links, with extra styling</a></li>
          <li><a href="landing_page_layout_tabs">10 Jan 2022: Tabs</a> &mdash; Design system tabs don't work well on mobile because they display all tab sections, which we don't want to do. It's confusing to show all guidance for all nations, so we've ruled out design system tabs</li>


</ul>

<h3 class="govuk-heading-m">
  Archive</h3>

  <ul class="govuk-list govuk-list--bullet">
    <li>5 Oct 2021</br>
      Layout D: <a href="landing_page_layout_d">NHS section above timeline</a></br>
      Layout F: <a href="landing_page_layout_f">NHS section below timeline</a></li>
          <li>1 Oct 2021</br>
            Layout A: <a href="landing_page_layout_a">Landing page – retaining live layout</a></br>
             Layout C: <a href="landing_page_layout_c">Landing page – H2s in left hand column, retaining NHS box</a></br>
             Layout E: <a href="landing_page_layout_e">Landing page – statistics in 2 columns</a></li>

          <li>30 Sept 2021</br>
             <a href="landing_page_layout_a">Landing page layout A</a>, <a href="landing_page_layout_b">Landing page layout B</a>
          </li>

          <li>29 Sept 2021: <a href="landing_page_29092021">Landing page: NHS box</a></li>
          <li>23 Sept 2021: <a href="landing_page_topics_2">Landing page: header, accordion, statistics, topic callout section</a></li>
          <li>3 Sept 2021: <a href="landing_page_topics">v1 topics</a>, <a href="landing_page_topics_header">v2 topics in header</a>, <a href="landing_page_topics_revision">v3 minimum viable updating</a></li>
          <li>19 Aug 2021: <a href="landing_stats_2">Landing</a></li>
          <li><a href="landing_travel_callout">Coronavirus landing – travel callout</a></li>
          <li><a href="landing_local">Coronavirus landing – local cases lookup</a></li>
        </div>



    </div>




  </div>

{% endblock %}
