{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}
{% set hideNav = true %}
{% set hidePrimaryNav = true %}

{% block pageTitle %}
 {{ pageHeading }} - GOV.UK
{% endblock %}

{% set pageHeading = 'Coronavirus' %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}
 <div class="start-page-banner">

   <div class="govuk-width-container">
     <div class="govuk-phase-banner">

     </div>
     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">

         <h1 class="start-page-banner__text start-page-banner__heading govuk-heading-xl">Coronavirus (COVID‑19)</h1>

<!--
         <div class="important-actions">
         <h2 class="govuk-heading-m">
          <img class="arrow" src="public/images/jarrow.png"><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/book-coronavirus-vaccination/">Book a vaccination</a></h2>
          </br>

           <h2 class="govuk-heading-m">
            <img class="arrow" src="public/images/jarrow.png">  <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/">Get a Coronavirus test</a></h2>
             </div>
-->
           <!--<p class="start-page-banner__text start-page-banner__description govuk-body govuk-!-font-size-27">Coronavirus landing page prototype</p>

         <div class="start-page-banner__actions">
           {{ govukButton({
             text: "Sign in",
             href: "/sign-in",
             classes: "start-page-banner__button",
             isStartButton: true
           }) }}
 -->
           <!--
           <p class="govuk-body start-page-banner__text">or
           <a class="govuk-link govuk-link--no-visited-state" href="/home">request an account</a></p>
         -->
       </div>

       </div>
     </div>
   </div>


   <div class="info-banner">

     <div class="govuk-width-container">

       <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">

           <p class="govuk-heading-s">Coronavirus remains a serious health risk. You should stay cautious to help protect yourself and others.</p>

             <ul class="govuk-list-bullet govuk-body-m extra-line-height">
               <li>Let fresh air in if you meet indoors. Meeting outdoors is safer</li>
           <li>Wear a face covering in crowded and enclosed spaces where you come into contact with people you do not normally meet</li>
           <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/">Get tested</a> and self-isolate if required</li>
           <li>If you haven’t already, <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/">get vaccinated</a></li>
           </ul>

           <p class="govuk-heading-s"><a href="https://www.gov.uk/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do"><img class="arrow" src="public/images/jarrow-blue-3.svg">Find out how to stay safe and help prevent the spread</a></p>

         </div>

         </div>
       </div>
     </div>
   </div>

 {# pulls in default gov uk template #}
 {{super()}}
{% endblock %}

{% block content %}

<!-- Topic callout -->


<!-- Travel abroad

<div class="govuk-body govuk-!-margin-bottom-3">
<h2 class="govuk-heading-m">Travelling abroad and entering England</h2>

<p class="govuk-heading-s"><a href="#">Travel abroad: what you need to do</a></br>
<span class="govuk-body-m">Find out the rules for travelling abroad and returning to England.</span></p>

<!--
<p class="govuk-body-s"><a href="#">Check if a country is on the red, amber or green list</a></br>
<a href="#">Find out the rules if you're travelling to England and you live in another country</a></br>
<a href="#">Fill in your passenger locator form</a></p>

</div>
-->


<!--
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
  <h2 class="govuk-heading-s">Travelling abroad</h2>

  <p class="govuk-body-m">
  Find out the steps you need to take before travelling abroad and returning to England.
    </p>

    <p class="govuk-body-m">
      <!--
      <img class="arrow" src="public/images/jarrow.png">
    <a href="https://draft-origin.publishing.service.gov.uk/travel-abroad-from-england-check-what-you-need-to-do">Travel abroad from England during coronavirus: check what you need to do</a></p>
</div>
<div class="govuk-grid-column-one-half">

  <h2 class="govuk-heading-s">Self-Employment Income Support Scheme (SEISS)</h2>

  <p class="govuk-body-m">
    The fifth grant of the Self-Employment Income Support Scheme is open until 30 September 2021.
    </p>

    <p class="govuk-body-m"><!--<img class="arrow" src="public/images/jarrow.png"><a href="#">Check if you can claim a SEISS grant</a></p>

</div>
-->



<!-- Travel abroad

<div class="govuk-body govuk-!-margin-bottom-3">
<h2 class="govuk-heading-m">Travelling abroad and entering England</h2>

<p class="govuk-heading-s"><a href="#">Travel abroad: what you need to do</a></br>
<span class="govuk-body-m">Find out the rules for travelling abroad and returning to England.</span></p>

<!--
<p class="govuk-body-s"><a href="#">Check if a country is on the red, amber or green list</a></br>
<a href="#">Find out the rules if you're travelling to England and you live in another country</a></br>
<a href="#">Fill in your passenger locator form</a></p>

</div>
-->

<!--

<div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-5">&nbsp;</div>
-->

<!-- NHS box and nation picker container -->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">



        <!-- Nation picker and timeline   -->

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <div class="nhs-box">
              <img class="" src="public/images/nhs.svg">
            <h3 class="govuk-heading-m">If you have no symptoms</h3>
            <ul class="govuk-list-bullet govuk-body-m">
              <li><a href="#">get regular rapid lateral flow tests</a></li>
              <li><a href="#">report rapid lateral flow test results</a></li>
              </ul>
          <h3 class="govuk-heading-m">If you have coronavirus symptoms</h3>
          <ul class="govuk-list-bullet govuk-body-m">
            <li><a href="#">get a PCR test</a></li>
            <li><a href="#">stay at home</a></li>
            </ul>
          </div>
          </div>


        <div class="govuk-grid-column-two-thirds">
         <h2 class="govuk-heading-m">Recent and upcoming changes</h2>

         <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-m">Choose location</h2>

          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england" checked>
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                England
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                Scotland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                Wales
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                Northern Ireland
              </label>
            </div>
          </div>

        </fieldset>
        </div>

        <h3 class="govuk-heading-s">If you've had contact with someone who's tested positive  <strong class="govuk-tag govuk-tag--blue">
        ENGLAND
        </strong></h3>

        <p class="govuk-body-m">
        If you’re fully vaccinated or under 18 you no longer need to self-isolate after close contact with someone who has COVID-19. If you have symptoms you should still isolate and take a PCR test. Find out when to self-isolate and what to do on the NHS website.
        </p>
        <h3 class="govuk-heading-s">Vaccinations for young people   <strong class="govuk-tag govuk-tag--blue">
        ENGLAND </strong></h3>
        <p class="govuk-body-m">
          16 and 17 year olds can now get their first dose of the COVID-19 vaccine. They’ll be contacted and invited by the NHS but cannot book online.
          </p>

          <h3 class="govuk-heading-s">Travelling abroad  <strong class="govuk-tag govuk-tag--blue">
          ENGLAND </strong></h3>
          <p class="govuk-body-m">
            Find out the steps you need to take before travelling abroad and returning to England.
            </p>
            <p class="govuk-body-m">
            <a href="https://draft-origin.publishing.service.gov.uk/travel-abroad-from-england-check-what-you-need-to[…]5MTF9.dDWNTs1TExV3nN8U8vyxFf3BOix4-dMOyvfifdnTMxM">Travel abroad from England during coronavirus: check what you need to do</a>
            </p>




      </div>
    </div>

  </main>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <p>&nbsp;</p>
    </div>

    <div class="govuk-grid-column-two-thirds">




<!--
<!-- Look up local cases
  <h2 class="govuk-heading-m">Local cases</h2>

<div class="govuk-body govuk-!-margin-bottom-9">
  <div class="govuk-form-group">
<label class="govuk-label" for="width-20">
  Enter a postcode
</label>
<input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
Look up local cases
</button>

-->



<!-- Guidance accordion -->

<div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-5">&nbsp;</div>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Guidance and support
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <p class='govuk-body'>(Content)</p>
  </div>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
        Staying safe
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
    <p class='govuk-body'>(Content)</p>
  </div>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
        Testing and self-isolating
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
    <p class='govuk-body'>(Content)</p>
  </div>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
        International travel
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
    <p class="govuk-heading-s">
      <a href="https://draft-origin.publishing.service.gov.uk/travel-abroad-from-england-check-what-you-need-to[…]5MTF9.dDWNTs1TExV3nN8U8vyxFf3BOix4-dMOyvfifdnTMxM">
        Travel abroad from England during coronavirus: check what you need to do</a></br>
        <span class="govuk-body-m">Find out the steps you need to take before travelling abroad and returning to England.</span>
        </p>

  </div>
</div>
</div>

</div>



<!-- Statistics  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p>&nbsp;</p>
    </div>
  <div class="govuk-grid-column-two-thirds">

    <div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-5">&nbsp;</div>

<div class="govuk-body govuk-!-margin-top-0">
<h2 class="govuk-heading-m">UK statistics</h2>
</div>

<p class="govuk-heading-s end-page2"><a href="#">Daily summary of coronavirus testing, cases and vaccinations</a></p>
</div>
</div>


<div class="govuk-grid-row">

<!-- clunky HTML alert -->

<div class="govuk-grid-column-one-third">
  <p>&nbsp;</p>
  </div>


 <div class="govuk-grid-column-one-third">

      <p class="govuk-body-s stat-title">

       <span class="govuk-heading-s xtra-padding">People tested positive</span></p>
       <p class="govuk-body-s">
       Daily</br>
       <span class="govuk-heading-s">
         33,904
      </span>
     </p>
   <p class="govuk-body-s">
    Last 7 days</br>
      <span class="govuk-heading-s">
        211,238 <strong class="govuk-tag--yellow statistics-padding"><img class="stat-arrow" src="public/images/arrow_down_yellow.svg"> -14,891 <span class="govuk-tag--yellow govuk-body-s">(-7.6%)</span> </strong></span>

       </p>
       <p class="govuk-body-s xtra-padding">
       <a href="#">All case data</a>
     </br>
     <span class="govuk-body-xs">Latest data provided on 15 August 2021</span>
      </p>
  </div>


  <div class="govuk-grid-column-one-third statblock">
       <p class="govuk-body-s stat-title">

        <span class="govuk-heading-s xtra-padding">Patients admitted to hospital</span>
        <p class="govuk-body-s">
        Daily</br>
        <span class="govuk-heading-s">
       773
       </span>
      </p>
    <p class="govuk-body-s">
       Last 7 days</br>
       <span class="govuk-heading-s">
         5,623 <strong class="govuk-tag--yellow statistics-padding"><img class="stat-arrow" src="public/images/arrow_up_yellow.svg"> 232 <span class="govuk-tag--yellow govuk-body-s">(4.3%)</span> </strong></span>

        </p>
        <p class="govuk-body-s xtra-padding">
        <a href="#">All healthcare data</a></br>
        <span class="govuk-body-xs">Latest data provided on 15 August 2021</span></p>
   </div>
   </div>


   <div class="govuk-grid-row">
     <div class="govuk-grid-column-one-third">
       <p>&nbsp;</p>
       </div>

     <div class="govuk-grid-column-one-third statblock">
       <p class="govuk-body-s stat-title">

        <span class="govuk-heading-s">People vaccinated, percent of population aged 16+ </span></p>
        <p class="govuk-body-s">
        1st dose</br>

        <span class="govuk-heading-s">
         89.2% (48,503,181 people)<!-- <span class="govuk-body-xs trend">+ 95,992 (40.7%)</span>
       </span>-->
      </p>

    <p class="govuk-body-s">
       2nd dose</br>
       <span class="govuk-heading-s">
         81.4% (44,229,777 people) <!-- <span class="govuk-body-xs trend">+ 95,992 (40.7%)</span>
       </span>-->
        </p>
        <p class="govuk-body-s">
        <a href="#">All vaccination data</a></br>
        <span class="govuk-body-xs">Latest data provided on 15 August 2021</span></p>       </div>
       </div>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p>&nbsp;</p>
      </div>

    <div class="govuk-grid-column-two-thirds">

    <ul class="govuk-list end-page2">

      <li><p class="govuk-heading-s"><a href="#">Data and trends from the Office for National Statistics (ONS)</a></p><li>
      <li><p class="govuk-heading-s"><a href="#">Full data and analysis on coronavirus</a></p><li>
    </ul>
  </div>

  </div>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p>&nbsp;</p>
        </div>

      <div class="govuk-grid-column-two-thirds">

        <div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-5">&nbsp;</div>


        <h2 class="govuk-heading-m">All Coronavirus information on GOV.UK</h2>


        <ul class="govuk-list end-page">
          <li><p><a href="#">Guidance</a></p><li>
          <li><p><a href="#">News</a></p><li>
          <li><p><a href="#">Legislation (legislation.gov.uk)</a></p></li>
          <li><p><a href="#">Press conferences (YouTube)</a></p><li>
          <li><p><a href="#">Press conference statements</a></p><li>
        </ul>

        <div class="stay-up-to-date">
        <h2 class="govuk-heading-s">Stay up to date with GOV.UK</h2>
        <p class="govuk-body-m"><a href="#">Sign up to get emails when we change any coronavirus information on the GOV.UK website</a>
        </p>

    </div>





</div>


</div>

{% endblock %}
