{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}
{% set hideNav = true %}
{% set hidePrimaryNav = true %}

{% block pageTitle %}
 {{ pageHeading }} - GOV.UK
{% endblock %}

{% set pageHeading = 'Coronavirus' %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}
 <div class="start-page-banner">

   <div class="govuk-width-container">
     <div class="govuk-phase-banner">

     </div>
     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">

         <h1 class="start-page-banner__text start-page-banner__heading govuk-heading-xl">Coronavirus</h1>

         <div class="important-actions">
         <h2 class="govuk-heading-m">
          <img class="arrow" src="public/images/jarrow.png"><a href="#">Book a vaccination</a></h2>
          </br>

           <h2 class="govuk-heading-m">
            <img class="arrow" src="public/images/jarrow.png">  <a href="#">Get a Coronavirus test</a></h2>
             </div>

           <!--<p class="start-page-banner__text start-page-banner__description govuk-body govuk-!-font-size-27">Coronavirus landing page prototype</p>

         <div class="start-page-banner__actions">
           {{ govukButton({
             text: "Sign in",
             href: "/sign-in",
             classes: "start-page-banner__button",
             isStartButton: true
           }) }}
 -->
           <!--
           <p class="govuk-body start-page-banner__text">or
           <a class="govuk-link govuk-link--no-visited-state" href="/home">request an account</a></p>
         -->
       </div>

       </div>
     </div>
   </div>


   <div class="info-banner">

     <div class="govuk-width-container">

       <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">

           <p class="govuk-heading-s">Coronavirus remains a serious health risk. It’s important to stay cautious and help protect yourself and others. In England:</p>

             <ul class="govuk-list-bullet govuk-body-s extra-line-height">
               <li>If you think you might have COVID-19 symptoms, <a href="#">take a PCR test</a> and stay home.</li>
           <li>Wear face coverings in crowded places to help protect others.</li>
           <li>Check in with the NHS COVID-19 app when you’re out.</li>
           </ul>

           <p class="govuk-heading-s"><a href="#">Find out what you can and cannot do</a></p>

         </div>

         </div>
       </div>
     </div>
   </div>

 {# pulls in default gov uk template #}
 {{super()}}
{% endblock %}

{% block content %}


<!-- Nation picker and timeline   -->

<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
   <h2 class="govuk-heading-m">Recent and upcoming changes</h2>

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-heading-m">Choose location</h2>

    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england" checked>
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          England
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Scotland
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Wales
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
          Northern Ireland
        </label>
      </div>
    </div>

  </fieldset>
</div>

<h3 class="govuk-heading-s">From 19 July  <strong class="govuk-tag govuk-tag--blue">
  ENGLAND
</strong></h3>
<p class="govuk-body-m">
England has moved to Step 4 of the roadmap. Everyone should be cautious while managing the risks as cases of COVID-19 remain high. Find out what you should do to protect yourself and others.
</p>
<p class="govuk-body-m">
Fully vaccinated people returning to England from most amber list countries will not need to quarantine.
</p>

 </div>
</div>

<div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-5">&nbsp;</div>


<!-- Travel abroad  -->

<div class="govuk-body govuk-!-margin-top-6 govuk-body govuk-!-margin-bottom-3">
<h2 class="govuk-heading-m">Rules: travelling abroad and returning to England</h2>

<p class="govuk-body-m">This is placeholder text.</p>

<p class="govuk-heading-s"><a href="#">Travel abroad: what you need to do</a></br>
<span class="govuk-body-m">Find out the rules for travelling abroad and returning to England.</span></p>

<!--
<p class="govuk-body-s"><a href="#">Check if a country is on the red, amber or green list</a></br>
<a href="#">Find out the rules if you're travelling to England and you live in another country</a></br>
<a href="#">Fill in your passenger locator form</a></p>
-->
</div>

<div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-5">&nbsp;</div>

<!-- Statistics  -->

<div class="govuk-body govuk-!-margin-top-0">
<h2 class="govuk-heading-m">UK statistics</h2>
</div>

<div class="2statistics-grid">

<div class="govuk-grid-row">

<!-- clunky HTML alert -->

 <div class="govuk-grid-column-one-third 2statistics-block">
      <p class="govuk-body-s">
       Cases</br>
       <span class="govuk-heading-s">People tested </br> positive</span></p>
       <p class="govuk-body-s">
       Daily</br>
       <span class="govuk-heading-s">
         33,904
      </span>
     </p>
   <p class="govuk-body-s">
      Last 7 days</br>
      <span class="govuk-heading-s">
        211,238 <span class="govuk-body-xs trend">+ 14,891 (7.6%)</span>
      </span>
       </p>
       <p class="govuk-body-s">
       <a href="#">All cases data</a>
     </br>
     <span class="govuk-body-xs">Latest data provided on 15 August 2021</span>
      </p>
  </div>


  <div class="govuk-grid-column-one-third 2statistics-block">
       <p class="govuk-body-s">
        Healthcare</br>
        <span class="govuk-heading-s">Patients admitted to</br> hospital</span>
        <p class="govuk-body-s">
        Daily</br>
        <span class="govuk-heading-s">
       773
       </span>
      </p>
    <p class="govuk-body-s">
       Last 7 days</br>
       <span class="govuk-heading-s">
         5,623 <span class="govuk-body-xs trend">+ 232 (4.3%)</span>
       </span>
        </p>
        <p class="govuk-body-s">
        <a href="#">All healthcare data</a></br>
        <span class="govuk-body-xs">Latest data provided on 15 August 2021</span></p>

   </div>


   <div class="govuk-grid-column-one-third 2statistics-block">
        <p class="govuk-body-s">
         Vaccinations</br>
         <span class="govuk-heading-s">People vaccinated, percent of adult population </span></p>
         <p class="govuk-body-s">
         1st dose</br>
         <span class="govuk-heading-s">
        88.0% <span class="govuk-body-xs trend">+ 95,992 (40.7%)</span>
        </span>
       </p>
     <p class="govuk-body-s">
        2nd dose</br>
        <span class="govuk-heading-s">
          68.8% <span class="govuk-body-xs trend">+ 95,992 (40.7%)</span>
        </span>
         </p>
         <p class="govuk-body-s">
         <a href="#">All vaccination data</a></br>
         <span class="govuk-body-xs">Latest data provided on 15 August 2021</span></p>

    </div>
  </div>
</div>


<ul class="govuk-list end-page">

  <li><p><a href="#">Daily summary of coronavirus testing, cases and vaccinations</a></p><li>
  <li><p><a href="#">Data and trends from the Office for National Statistics (ONS)</a></p><li>
  <li><p><a href="#">All data and analysis on coronavirus</a></p><li>
  <li><p><a href="#">Coronavirus cases by local authority</a></p><li>
</ul>


    <div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-9">&nbsp;</div>




<!--
<!-- Look up local cases
    <h2 class="govuk-heading-m">Local cases</h2>

<div class="govuk-body govuk-!-margin-bottom-9">
    <div class="govuk-form-group">
  <label class="govuk-label" for="width-20">
    Enter a postcode
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"></div>

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Look up local cases
</button>

-->



<!-- Guidance accordion -->


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Guidance and support
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>This is the content for Writing well for the web.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Staying safe
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>This is the content for Writing well for specialists.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Testing and self-isolating
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>This is the content for Know your audience.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          International travel
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>This is the content for How people read.</p>
    </div>
  </div>
</div>

<div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-9">&nbsp;</div>

<h2 class="govuk-heading-m">All Coronavirus information on GOV.UK</h2>

<ul class="govuk-list end-page">
  <li><p><a href="#">Guidance</a></p><li>
  <li><p><a href="#">News</a></p><li>
  <li><p><a href="#">Press conferences (YouTube)</a></p><li>
  <li><p><a href="#">Press conference statements</a></p><li>
</ul>

</div>

{% endblock %}
