{% extends "layout.html" %}
{% set bodyClasses = "start-page" %}
{% set hideNav = true %}
{% set hidePrimaryNav = true %}

{% block pageTitle %}
 {{ pageHeading }} - GOV.UK
{% endblock %}

{% set pageHeading = 'Coronavirus' %}

{% block beforeContent %}
{# beforeContent is reseting default phase banner #}
{% endblock %}

{% block main %}
 <div class="start-page-banner">

   <div class="govuk-width-container">
     <div class="govuk-phase-banner">

     </div>
     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">

         <h1 class="start-page-banner__text start-page-banner__heading govuk-heading-xl">Coronavirus</h1>

<!--
         <div class="important-actions">
         <h2 class="govuk-heading-m">
          <img class="arrow" src="public/images/jarrow.png"><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/book-coronavirus-vaccination/">Book a vaccination</a></h2>
          </br>

           <h2 class="govuk-heading-m">
            <img class="arrow" src="public/images/jarrow.png">  <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/">Get a Coronavirus test</a></h2>
             </div>
-->
           <!--<p class="start-page-banner__text start-page-banner__description govuk-body govuk-!-font-size-27">Coronavirus landing page prototype</p>

         <div class="start-page-banner__actions">
           {{ govukButton({
             text: "Sign in",
             href: "/sign-in",
             classes: "start-page-banner__button",
             isStartButton: true
           }) }}
 -->
           <!--
           <p class="govuk-body start-page-banner__text">or
           <a class="govuk-link govuk-link--no-visited-state" href="/home">request an account</a></p>
         -->
       </div>

       </div>
     </div>
   </div>


   <div class="info-banner">

     <div class="govuk-width-container">

       <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">


           <p class="govuk-heading-s">Coronavirus remains a serious health risk. You should stay cautious to help protect yourself and others.</p>

             <ul class="govuk-list-bullet govuk-body-m extra-line-height">
               <li>Meet outside, or open windows and doors for indoor visitors</li>
           <li>If you think you have symptoms stay at home and <a href="#">take a PCR test</a></li>
           <li>Wear face coverings in crowded places and on public transport</li>
           <li>Check in to venues when you go out</li>
           <li>Wash your hands with soap regularly, and for at least 20 seconds</li>
           <li><a href="#">Get vaccinated</a></li>
           </ul>

           <p class="govuk-heading-s"><a href="#"><img class="arrow" src="public/images/jarrow.png">Find out what you can and cannot do</a></p>

         </div>

         </div>
       </div>
     </div>
   </div>

 {# pulls in default gov uk template #}
 {{super()}}
{% endblock %}

{% block content %}

<!-- Topic callout -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half topical-topic">


    <h2 class="govuk-heading-m">Testing for coronavirus (COVID-19)</h2>
      <p class="govuk-body-m"><a href="#">
        Find out which coronavirus test you should get on NHS.UK
      </a></p>
      <p class="govuk-body-m"><a href="#">
        When to self-isolate and what to do on NHS.UK
      </a></p>

      <p class="govuk-body-m"><a href="#">
        See all testing for coronavirus (COVID-19) services on GOV.UK</a>
        </p>

  </div>
  <div class="govuk-grid-column-one-half topical-topic">
    <h2 class="govuk-heading-m">Vaccinations</h2>
      <p class="govuk-body-m"><a href="#">
        COVID-19 vaccination information on NHS.UK
      </a></p>

      <p class="govuk-body-m"><a href="#">
        Vaccination information in other languages, including Punjabi, Arabic and Bengali on NHS England
      </a></p>

      <p class="govuk-body-m"><a href="#">
        See all vaccinations for coronavirus information on GOV.UK
        </a>
        </p>
  </div>


  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half topical-topic">
    <h2 class="govuk-heading-m">International travel</h2>


      <p class="govuk-body-m"><a href="#">
        Travel abroad from England during coronavirus (COVID-19)</a></p>
      <p class="govuk-body-m"><a href="#">
          Travel to England from another country during coronavirus (COVID-19)</a></p>
      <p class="govuk-body-m"><a href="#">
      Check if a country is on the red, amber or green list</a></p>

      <p class="govuk-body-m"><a href="#">
      See all international travel information on GOV.UK
      </a>
      </p>

  </div>


  <div class="govuk-grid-column-one-half topical-topic">
    <h2 class="govuk-heading-m">   Getting financial help and keeping your business safe</h2>

      <p class="govuk-body-m">
        <a href="#">Check if you can claim a Self-Employment Income Support Scheme (SEISS) grant</a></p>
        <p class="govuk-body-m">
          <a href="#">  Financial support for businesses and self-employed people</a></p>
          <p class="govuk-body-m"><a href="#">
            See all support for businesses and self-employed people information on GOV.UK
          </a>
          </p>

  </div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half topical-topic">
  <h2 class="govuk-heading-m">Work and financial support</h2>
    <p class="govuk-body-m"><a href="#">
   See all work and financial support information on GOV.UK    </a>
    </p>

</div>


<div class="govuk-grid-column-one-half topical-topic">
  <h2 class="govuk-heading-m">Education, universities and childcare</h2>


        <p class="govuk-body-m"><a href="#">
      See all driving and transport in the UK information on GOV.UK
        </a>
        </p>

</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half topical-topic">
  <h2 class="govuk-heading-m">Driving and transport in the UK</h2>
    <p class="govuk-body-m"><a href="#">
   See all driving and transport in the UK information on GOV.UK   </a>
    </p>

</div>


<div class="govuk-grid-column-one-half topical-topic">
  <h2 class="govuk-heading-m">Volunteering and offering help</h2>


        <p class="govuk-body-m"><a href="#">
    See all volunteering and offering help information on GOV.UK
        </a>
        </p>

</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half topical-topic">
  <h2 class="govuk-heading-m">Housing and accommodation</h2>
    <p class="govuk-body-m"><a href="#">
  See all housing and accommodation information on GOV.UK  </a>
    </p>

</div>


<div class="govuk-grid-column-one-half topical-topic">
  <h2 class="govuk-heading-m">Health and wellbeing</h2>


        <p class="govuk-body-m"><a href="#">
  See all health and wellbeing information on GOV.UK
        </a>
        </p>

</div>
</div>


<!-- Travel abroad

<div class="govuk-body govuk-!-margin-bottom-3">
<h2 class="govuk-heading-m">Travelling abroad and entering England</h2>

<p class="govuk-heading-s"><a href="#">Travel abroad: what you need to do</a></br>
<span class="govuk-body-m">Find out the rules for travelling abroad and returning to England.</span></p>

<!--
<p class="govuk-body-s"><a href="#">Check if a country is on the red, amber or green list</a></br>
<a href="#">Find out the rules if you're travelling to England and you live in another country</a></br>
<a href="#">Fill in your passenger locator form</a></p>

</div>
-->

<div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-5">&nbsp;</div>




<!-- Statistics  -->

<div class="govuk-body govuk-!-margin-top-0">
<h2 class="govuk-heading-m">UK statistics</h2>
</div>

<div class="2statistics-grid">

<div class="govuk-grid-row">

<!-- clunky HTML alert -->

 <div class="govuk-grid-column-one-third statblock">
      <p class="govuk-body-s stat-title">

       <span class="govuk-heading-s">People tested </br> positive</span></p>
       <p class="govuk-body-s">
       Daily</br>
       <span class="govuk-heading-s">
         33,904
      </span>
     </p>
   <p class="govuk-body-s">
      Last 7 days</br>
      <span class="govuk-heading-s">
        211,238 <strong class="govuk-tag govuk-tag--yellow">+ 14,891 (7.6%) </strong></span>

       </p>
       <p class="govuk-body-s">
       <a href="#">All cases data</a>
     </br>
     <span class="govuk-body-xs">Latest data provided on 15 August 2021</span>
      </p>
  </div>


  <div class="govuk-grid-column-one-third statblock">
       <p class="govuk-body-s stat-title">

        <span class="govuk-heading-s">Patients admitted to</br> hospital</span>
        <p class="govuk-body-s">
        Daily</br>
        <span class="govuk-heading-s">
       773
       </span>
      </p>
    <p class="govuk-body-s">
       Last 7 days</br>
       <span class="govuk-heading-s">
         5,623 <strong class="govuk-tag govuk-tag--yellow">+ 232 (4.3%) </strong></span>

        </p>
        <p class="govuk-body-s">
        <a href="#">All healthcare data</a></br>
        <span class="govuk-body-xs">Latest data provided on 15 August 2021</span></p>

   </div>


   <div class="govuk-grid-column-one-third statblock">
        <p class="govuk-body-s stat-title">

         <span class="govuk-heading-s">People vaccinated, percent of population aged 16+ </span></p>
         <p class="govuk-body-s">
         1st dose</br>

         <span class="govuk-heading-s">
        88.0% <!-- <span class="govuk-body-xs trend">+ 95,992 (40.7%)</span>
        </span>-->
       </p>
     <p class="govuk-body-s">
        2nd dose</br>
        <span class="govuk-heading-s">
          68.8% <!-- <span class="govuk-body-xs trend">+ 95,992 (40.7%)</span>
        </span>-->
         </p>
         <p class="govuk-body-s">
         <a href="#">All vaccination data</a></br>
         <span class="govuk-body-xs">Latest data provided on 15 August 2021</span></p>

    </div>
  </div>
</div>


<ul class="govuk-list end-page">

  <li><p><a href="#">Daily summary of coronavirus testing, cases and vaccinations</a></p><li>
  <li><p><a href="#">Data and trends from the Office for National Statistics (ONS)</a></p><li>
  <li><p><a href="#">All data and analysis on coronavirus</a></p><li>
  <li><p><a href="#">Coronavirus cases by local authority</a></p><li>
</ul>




<div class="div-line govuk-!-margin-bottom-5 govuk-!-margin-top-9">&nbsp;</div>

<h2 class="govuk-heading-m">All Coronavirus information on GOV.UK</h2>

<ul class="govuk-list end-page">
  <li><p><a href="#">Guidance</a></p><li>
  <li><p><a href="#">News</a></p><li>
  <li><p><a href="#">Press conferences (YouTube)</a></p><li>
  <li><p><a href="#">Press conference statements</a></p><li>
</ul>

<div class="stay-up-to-date">
<h2 class="govuk-heading-s">Stay up to date with GOV.UK</h2>
<p class="govuk-body-m"><a href="#">Sign up to get emails when we change any coronavirus information on the GOV.UK website</a>
</p>
</div>


</div>

{% endblock %}
